<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chessboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--Chessboard.js requirements-->
</head>
<body>
  <main>
    <div class="board-container">
      <div class="profile-information">
        <p id="secondPlayer">None</p>
      </div>
      <div id="board"></div>
      <div class="profile-information">
        <p id="currentPlayer">None</p>
      </div>
    </div>
    <div class="infos-container">
      <h2>Informations</h2>
      <p>Joueur: {{ orientation }}</p>
      <p>Statut: <span id="status">NaN</span></p>
      <p>Turn: <span id="turn">NaN</span></p>
    </div>
  </main>

  <script>
    const id = "{{ game_id }}";
    const playerOrientation = "{{ orientation  }}";
  </script>
  <script src="{{ url_for('static', filename='js/chessboard.js') }}"></script>
  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>