<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chessboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard.css') }}">
  <style>
    #board {
      width: 30%;
      margin: auto;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

  <div id="board"></div>

  <script>
    const id = "{{ game_id }}";
    const playerOrientation = "{{ orientation  }}";
  </script>
  <script src="{{ url_for('static', filename='js/chessboard.js') }}"></script>
  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>