<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Créer une Partie d'Échecs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <main>
    <h1>Nouvelle Partie</h1>
    <form id="start-form" method="post" action="/init_session">
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" name="username">
      <button type="submit">Sauvegarder</button>
    </form>
    <form id="create-board-form" method="post" action="/create_board_id">
      <label for="board-id">ID du plateau :</label>
      <input type="text" id="board-id" name="board-id">
      <button id="create-board-button" type="submit">Créer un plateau</button>
    </form>
  </main>
</body>