<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Créer une Partie d'Échecs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <main>
    <form id="start-form" method="post" action="/init_session">
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" name="username" placeholder="Entrez votre nom">
      <p id="usernameErrorMessage"></p>
      <button type="submit">Sauvegarder</button>
    </form>

    <form id="create-board-form" method="post" action="/create_board_id">
      <label for="board-id">ID du plateau :</label>
      <input type="text" id="board-id" name="board-id" placeholder="Ex : partie123">
      <button id="create-board-button" type="submit">Créer un plateau</button>
    </form>
  </main>
  <div id="notification-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="notification {{ category }}-notification">
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>